---
import Layout from "../layouts/Layout.astro";
import ApiDocsLayout from "../components/ApiDocsLayout";
---

<Layout title="API Documentation - AI Governance DPSEC API">
  <div class="bg-white min-h-screen">
    <ApiDocsLayout client:load />
  </div>
</Layout>
